.post-box {
    padding: 30px 25px;
}
.post-header,
.post-title {
    padding: 10px 0px;
}
.post-title p {
    color: grey;
    font-size: 0.5rem;
    margin: 3px 0px;
}
.post-author-box {
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px 0px;
}
.author-image {
   width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden; 
}
.author-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
}
.author-details {
    padding: 0px 15px;
}
.post-container {
    display: grid;
    grid-template-columns: auto;
}
.post-body {
    width: 100%;
}
.post-cover {
    width: 100%;
    margin: 10px 0px;
}
.post-cover img {
    width: 100%;
}
.quote {
    border-left: 6px solid tomato;
    background: rgb(238, 238, 238);
    padding: 10px 20px;
    margin: 10px 0px;
}
.post-buttons {
    width: 100%;
    display: flex;
    padding: 20px 0px;
}
.post-buttons a {
    border-radius: 10px;
    padding: 10px;
    display: block;
    background: none;
}
.post-buttons a:first-child {
    border: 1px solid tomato;
    color: tomato;
}
.post-buttons a:last-child {
    margin-left: 20px;
    border: 1px solid grey;
    color: grey;
}
.post-buttons a:first-child:hover,
.post-buttons a:last-child:hover {
    color: white;
}
.post-buttons a:first-child:hover {
    background: tomato;
}
.post-buttons a:last-child:hover {
    background: grey;
}
.about {
    background: rgb(238, 238, 238);
    padding: 10px;
    margin: 10px 0px;
}
.archives ul{
    list-style: none;
    padding: 0;
}
    
@media screen and (min-width: 600px) {
    .post-container {
        grid-template-columns: 4fr 2fr;
    }
    .aside {
        padding: 0px 20px 0px 40px;
    }
}